body {
  background-color: #3932cc;
  margin: 0;
  text-align: center;
  color: #c7ffff;
}

header {
  background-image: linear-gradient(
    to left,
    rgba(124, 230, 243, 255),
    rgb(233, 116, 21)
  );

  text-align: center;
}

h2 {
  font-size: x-large;
}

.colBackground {
  background-color: rgb(12, 12, 12);
  padding-bottom: 25px;
  text-align: center;
}

.columns {
  display: flex;
}

.column {
  width: 100%;
  margin: 0 10px;
  text-align: center;
}

a {
  color: #c7ffff;
}

#numb {
  padding-top: 25%;
  font-size: large;
  text-align: left;
}

footer {
  background-image: linear-gradient(
    to right,
    rgba(124, 230, 243, 255),
    rgb(233, 116, 21)
  );
}
