.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: darkgreen;
}

.flexbox-header > div {
  display: flex;
  padding: 10px 20px;
  font-size: 2em;
}

.flexbox-header {
  background-color: #96ceb4;
  color: #ffeead;
}

.header {
  background-color: antiquewhite;
}

.header :nth-child(2) {
  padding: 0 40px;
}

.menu {
  background-color: rgb(66, 40, 5);
}

.content {
  background-color: rgb(212, 164, 101);
}

.footer {
  background-color: rgb(165, 110, 37);
}

.grid-page > div {
  color: #ffeead;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

html,
body {
  box-sizing: border-box;
  background-color: darkolivegreen;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

p {
    color:aquamarine;
    text-align: center;
}

.container > div:nth-child(1n) {
  background-color: greenyellow;
}

.container > div:nth-child(3n) {
  background-color: rgb(207, 218, 191);
}

.container > div:nth-child(2n) {
  background-color: rgb(17, 26, 5);
}

.container > div:nth-child(4n) {
  background-color: rgb(152, 247, 9);
}
